<script setup lang="ts">
import AirportsTable from '../components/AirportsTable.vue'
import UsefulLinks from '../components/UsefulLinks.vue'
</script>

<template>
  <div class="about">
    <p>
      I am currently a student at Southern Utah University learning to fly helicopters.
      <br />
      <br />
      As I progress through the program I will be creating a series of small apps to help me learn
      and understand concepts.
      <br />
      <br />
      <em>
        NOTE: This website is not polished so feel free to use it but some things might be missing
        or broken.
      </em>
    </p>

    <br />
    <div class="spring"></div>
    <br />

    <AirportsTable />

    <br />
    <div class="spring"></div>
    <br />

    <UsefulLinks />

    <br />
    <div class="spring"></div>
    <br />

    <img src="../assets/img/qrcode_loganbarnes.gitlab.io.png" alt="Robinson R44 Helicopter" />

    <br />
    <div class="spring"></div>
    <br />
  </div>
</template>

<style scoped>
.about {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  text-align: center;
}

.spring {
  flex-grow: auto;
}

img {
  max-width: 90%;
  max-height: 80%;
}
</style>
