<script setup lang="ts">
import { diffChars } from 'diff'
import type { Change } from 'diff'
import { onMounted, ref } from 'vue'
import { getQuestions, getAnswer } from '../exercises/AcronymsAnswers'

const certification = ref(`all`)
const certificationOptions = ref([
  { text: `All`, value: `all` },
  { text: `Solo`, value: `solo` },
  { text: `Private`, value: `private` }
])

const question = ref(``)
const questionOptions = ref<
  {
    text: string
    value: string
  }[]
>([])

const answer = ref(``)

const inputText = ref<HTMLTextAreaElement>()
const diffDiv = ref<HTMLDivElement>()
const actionButton = ref<HTMLButtonElement>()

const additions = ref(0)
const deletions = ref(0)

onMounted(() => {
  const action = actionButton.value as HTMLButtonElement

  action.innerText = `Check`

  updateOptions()
})

function updateOptions() {
  questionOptions.value = getQuestions(certification.value)
  if (!questionOptions.value.some((option) => option.value === question.value)) {
    question.value = questionOptions.value[0].value
  }
  setAnswer()
}

function setAnswer() {
  if (certification.value && question.value) {
    answer.value = getAnswer(certification.value, question.value)
  } else {
    answer.value = ``
  }

  const input = inputText.value as HTMLTextAreaElement
  input.value = ``

  clearDiff()
}

function performDiff() {
  const action = actionButton.value as HTMLButtonElement
  const input = inputText.value as HTMLTextAreaElement
  const diff = diffDiv.value as HTMLDivElement

  action.innerText = `Clear`

  const diffValues: Change[] = diffChars(answer.value, input.value)
  const fragment: DocumentFragment = document.createDocumentFragment()

  additions.value = 0
  deletions.value = 0

  diffValues.forEach((part: Change) => {
    let color: string = 'grey'

    if (part.added) {
      additions.value += part.value.length
      color = 'green'
    } else if (part.removed) {
      deletions.value += part.value.length
      color = 'red'
    }

    if (part.added || part.removed) {
      part.value = part.value.replace(/\n/g, '↵<br>')
      // part.value = part.value.replace(' ', '_') // For debugging extra spaces
    } else {
      part.value = part.value.replace(/\n/g, '<br>')
    }

    const span: HTMLElement = document.createElement('span')
    span.style.color = color
    span.innerHTML = part.value
    fragment.appendChild(span)
  })

  diff.appendChild(fragment)
  diff.hidden = false
}

function clearDiff() {
  const action = actionButton.value as HTMLButtonElement
  const diff = diffDiv.value as HTMLDivElement

  action.innerText = `Check`
  diff.hidden = true
  diff.innerHTML = ``
}

function performAction() {
  const action = actionButton.value as HTMLButtonElement

  if (action.innerText === `Check`) {
    performDiff()
  } else {
    clearDiff()
  }
}

function goNext() {
  const index = questionOptions.value.findIndex((option) => option.value === question.value)
  if (0 <= index && index < questionOptions.value.length - 1) {
    question.value = questionOptions.value[index + 1].value
  }
  setAnswer()
}

function goPrev() {
  const index = questionOptions.value.findIndex((option) => option.value === question.value)
  if (0 < index && index < questionOptions.value.length) {
    question.value = questionOptions.value[index - 1].value
  }
  setAnswer()
}

function goRand() {
  const index = Math.floor(Math.random() * questionOptions.value.length)
  question.value = questionOptions.value[index].value
  setAnswer()
}

function checkKey(event: KeyboardEvent) {
  if (event.ctrlKey || event.metaKey) {
    if (event.key === `Enter`) {
      return performDiff()
    }
    if (event.shiftKey) {
      if (event.key === `>`) {
        return goNext()
      }
      if (event.key === `<`) {
        return goPrev()
      }
      if (event.key === ` `) {
        return goRand()
      }
    }
  }
  return clearDiff()
}
</script>

<template>
  <div class="wrapper">
    <p>If something is wrong, text me: (520) 495-8630</p>
    <br />
    <label>
      Lab
      <select v-model="certification" @change="updateOptions">
        <option v-for="option in certificationOptions" :key="option.value" :value="option.value">
          {{ option.text }}
        </option>
      </select>
    </label>
    <label>
      Subject
      <select v-model="question" @change="setAnswer">
        <option v-for="option in questionOptions" :key="option.value" :value="option.value">
          {{ option.text }}
        </option>
      </select>
    </label>
    <textarea ref="inputText" @keydown="checkKey($event)"></textarea>
    <div ref="diffDiv" class="diff"></div>
    <table>
      <tr>
        <td>
          <button title="Ctrl/Cmd + Shift + ," @click="goPrev">Prev</button>
        </td>
        <td>
          <button ref="actionButton" title="Ctrl/Cmd + Enter" @click="performAction"></button>
        </td>
        <td>
          <button title="Ctrl/Cmd + Shift + Space" @click="goRand">Random</button>
        </td>
        <td>
          <button title="Ctrl/Cmd + Shift + ." @click="goNext">Next</button>
        </td>
      </tr>
    </table>
    <p>
      <span id="additions">+{{ additions }}</span> <span id="deletions">-{{ deletions }}</span>
    </p>
  </div>
</template>

<style scoped>
table {
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

.model-certification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

#model {
  align-items: center;
}

textarea {
  margin: 1rem;
  width: 80%;
  background-color: transparent;
  color: lightgrey;
  flex: 1;
}

.diff {
  width: 80%;
  border: 1px solid whitesmoke;
  margin: 1rem;
  background-color: transparent;
  flex: 1;
}

#additions {
  color: green;
}

#deletions {
  color: red;
}
</style>
