<script setup lang="ts">
import { ref } from 'vue'
import WebglCanvas from '../components/WebglCanvas.vue'
import { MoleculeLesson } from '../exercises/MoleculeLesson'
import type { MoleculeOptions } from '../exercises/MoleculeCompute'

const extensions = [`OES_texture_float`, `WEBGL_color_buffer_float`]

let lesson: MoleculeLesson | null = null

const moleculeOptions = ref<MoleculeOptions>({
  groundTemperature: 50.0,
  gravity: 2.0,
  pointRadius: 2.0,
  startVelocityScale: 25.0
})

function start(gl: WebGLRenderingContext) {
  lesson = new MoleculeLesson(gl, moleculeOptions.value)
  lesson.run()
}

function updateMoleculeOptions() {
  if (lesson) {
    lesson.setMoleculeOptions(moleculeOptions.value)
  }
}

function onResize(width: number, height: number) {
  if (lesson) {
    lesson.resize(width, height)
  }
}

function reset() {
  if (lesson) {
    lesson.reset()
  }
}

function stop(): void {
  if (lesson) {
    lesson.stop()
  }
  lesson = null
}

function numberString(input: number | string, digits = 1): string {
  const num = Number(input)
  if (num >= 0) {
    return `+${num.toFixed(digits)}`
  } else {
    return num.toFixed(digits)
  }
}
</script>

<template>
  <div class="wrapper">
    <WebglCanvas
      :extensions="extensions"
      @resize="onResize"
      @start="start"
      @stop="stop"
      class="canvas"
      ref="canvas"
    />

    <div class="controls">
      <table>
        <tr>
          <td>Ground Temperature</td>
          <td>
            <input
              v-model="moleculeOptions.groundTemperature"
              @input="updateMoleculeOptions"
              style="slider"
              type="range"
              min="1"
              max="100"
              step="1"
            />
            {{ numberString(moleculeOptions.groundTemperature) }}
          </td>
        </tr>

        <tr>
          <td>Gravity</td>
          <td>
            <input
              v-model="moleculeOptions.gravity"
              @input="updateMoleculeOptions"
              style="slider"
              type="range"
              min="1"
              max="5"
              step="1"
            />
            {{ numberString(moleculeOptions.gravity) }}
          </td>
        </tr>

        <tr>
          <td>Molecule Radius</td>
          <td>
            <input
              v-model="moleculeOptions.pointRadius"
              @input="updateMoleculeOptions"
              style="slider"
              type="range"
              min="1"
              max="5"
              step="1"
            />
            {{ numberString(moleculeOptions.pointRadius) }}
          </td>
        </tr>

        <tr>
          <td>Starting Velocities</td>
          <td>
            <input
              v-model="moleculeOptions.startVelocityScale"
              @input="updateMoleculeOptions"
              style="slider"
              type="range"
              min="0"
              max="50"
              step="1"
            />
            {{ numberString(moleculeOptions.startVelocityScale) }}
          </td>
        </tr>
      </table>

      <button @click="reset">Reset</button>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  /* For self */
  padding: 1rem;
  overflow-y: auto;

  /* For children */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.controls {
  /* For self */
  padding-top: 1rem;

  /* For children */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: black;
}

@media (min-width: 800px) {
  /* when bigger than 800px */
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .lesson {
    max-width: 70%;
  }

  .controls {
    padding-left: 1rem;
  }
}
</style>
