<script setup lang="ts">
import { ref } from 'vue'
import { Calculator } from '../exercises/Calculator'
import type { CalculatorInput, CalculatorOutput } from '../exercises/Calculator'
import MapAndSpeedTables from '../components/MapAndSpeedTables.vue'

const calculator = new Calculator()

const calculatorInput = ref<CalculatorInput>({
  over2200Togw: true,
  anyDoorsOff: false,
  altitudeFt: 5622,
  oatC: 15
})

const calculatorOutput = ref<CalculatorOutput>({
  maxContinuousMap: 0.0,
  maxTakeoffMap: 0.0,
  maxMapOffAirport: 0.0,
  maxAirspeed: 0.0,
  maxAirspeedAutorotation: 0.0
})

function calculate() {
  calculatorOutput.value = calculator.calculate(calculatorInput.value)
}

function formatMap(value: number) {
  if (value === 0) {
    return 'Full Throttle'
  }
  return value.toFixed(1)
}

function formatAirspeed(value: number) {
  if (value <= 0) {
    return "Don't Fly"
  }
  return value.toFixed(0)
}
</script>

<template>
  <div class="calculator">
    <h2>Configuration</h2>

    <table>
      <tr>
        <td>Altitude (ft)</td>
        <td>
          <input v-model="calculatorInput.altitudeFt" name="altitudeFt" type="number" />
        </td>
      </tr>

      <tr>
        <td>OAT (C°)</td>
        <td>
          <input v-model="calculatorInput.oatC" name="oatC" type="number" />
        </td>
      </tr>

      <tr>
        <td>Over 2200 TOGW</td>
        <td class="left">
          <input
            v-model="calculatorInput.over2200Togw"
            type="checkbox"
            id="over2200Togw"
            name="over2200Togw"
          />
        </td>
      </tr>

      <tr>
        <td>Any Doors Off</td>
        <td class="left">
          <input
            v-model="calculatorInput.anyDoorsOff"
            type="checkbox"
            id="anyDoorsOff"
            name="anyDoorsOff"
          />
        </td>
      </tr>

      <tr>
        <td colspan="2" class="center">
          <button @click="calculate()">Calculate</button>
        </td>
      </tr>
      <tr>
        <th>Max Continuous MAP</th>
        <td class="bold" v-bind="calculatorOutput">
          {{ formatMap(calculatorOutput.maxContinuousMap) }}
        </td>
      </tr>
      <tr>
        <th>Max Takeoff MAP</th>
        <td class="bold" v-bind="calculatorOutput">
          {{ formatMap(calculatorOutput.maxTakeoffMap) }}
        </td>
      </tr>
      <tr>
        <th>Off Airport MAP</th>
        <td class="bold" v-bind="calculatorOutput">
          {{ formatMap(calculatorOutput.maxMapOffAirport) }}
        </td>
      </tr>
      <tr>
        <th>Max Airspeed</th>
        <td class="bold" v-bind="calculatorOutput">
          {{ formatAirspeed(calculatorOutput.maxAirspeed) }}
        </td>
      </tr>
      <tr>
        <th>Max Airspeed Autorotation</th>
        <td class="bold" v-bind="calculatorOutput">
          {{ formatAirspeed(calculatorOutput.maxAirspeedAutorotation) }}
        </td>
      </tr>
    </table>

    <br />

    <MapAndSpeedTables />
  </div>
</template>

<style scoped>
.calculator {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  text-align: center;
}

table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}
</style>
