<script setup lang="ts">
import WebglCanvas from '../components/WebglCanvas.vue'
import { CubeTest } from '../exercises/Cube'

const extensions: string[] = []
let lesson: CubeTest | null = null

function start(gl: WebGLRenderingContext) {
  lesson = new CubeTest(gl)
  lesson.run()
}

function onResize(width: number, height: number) {
  if (lesson) {
    lesson.resize(width, height)
  }
}

function stop(): void {
  if (lesson) {
    lesson.stop()
  }
  lesson = null
}
</script>

<template>
  <div class="wrapper">
    <WebglCanvas
      :extensions="extensions"
      @resize="onResize"
      @start="start"
      @stop="stop"
      class="canvas"
      ref="canvas"
    />
  </div>
</template>

<style scoped>
.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  overflow-y: auto;
}

.canvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: black;
}
</style>
