<script setup lang="ts">
import { onMounted } from 'vue'

onMounted(() => {
  // Add labels to the table cells so the table
  // can be reformatted for mobile devices
  const tableEl = document.querySelector('table') as HTMLTableElement
  const thEls = tableEl.querySelectorAll('thead th') as NodeListOf<HTMLElement>
  const tdLabels = Array.from(thEls).map((el: HTMLElement) => el.innerText)

  tableEl.querySelectorAll('tbody tr').forEach((tr) => {
    Array.from(tr.children).forEach((td, ndx) => td.setAttribute('label', tdLabels[ndx]))
  })
})
</script>

<template>
  <div class="airports">
    <h2>Nearby Airports</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Elevation</th>
          <th>CTAF Freq</th>
          <th>ASOS/AWOS</th>
          <th>Location<br />(Rel. to KCDC)</th>
          <th>Runways</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Cedar City</th>
          <td>KCDC</td>
          <td>5622'</td>
          <td>123.0</td>
          <td>119.025</td>
          <td>0nm</td>
          <td>02-20,08-26</td>
        </tr>
        <tr>
          <th>Parowan</th>
          <td>1L9</td>
          <td>5930'</td>
          <td>122.8</td>
          <td>-</td>
          <td>NE 16nm</td>
          <td>04-22</td>
        </tr>
        <tr>
          <th>Beaver</th>
          <td>U52</td>
          <td>5863'</td>
          <td>122.9</td>
          <td>119.925</td>
          <td>NNE 38nm</td>
          <td>13-31</td>
        </tr>
        <tr>
          <th>Milford</th>
          <td>KMLF</td>
          <td>5622'</td>
          <td>122.8</td>
          <td>135.025</td>
          <td>N 44nm</td>
          <td>16-34</td>
        </tr>
        <tr>
          <th>Helipads</th>
          <td>-</td>
          <td>5160'?</td>
          <td>123.02</td>
          <td>-</td>
          <td>NE 25nm</td>
          <td>-</td>
        </tr>
        <tr>
          <th>Hall Road</th>
          <td>-</td>
          <td>5640'?</td>
          <td>123.5</td>
          <td>-</td>
          <td>W 10nm</td>
          <td>-</td>
        </tr>
        <tr>
          <th>Hurricane</th>
          <td>1L8</td>
          <td>3351'</td>
          <td>123.05</td>
          <td>123.05*</td>
          <td>SSW 35nm</td>
          <td>01-19</td>
        </tr>
        <tr>
          <th>St. George</th>
          <td>KSGU</td>
          <td>2884'</td>
          <td>123.075</td>
          <td>135.075</td>
          <td>SW 44nm</td>
          <td>01-19</td>
        </tr>
      </tbody>
    </table>
    <p>* Click 4 times (ASOS from Grassy Meadows (PVT))</p>
  </div>
</template>

<style scoped>
table,
th,
td {
  border: 1px solid gray;
  padding: 5px;
}

thead {
  color: var(--color-background);
  background: var(--color-text);
}
th {
  font-weight: bold;
}

.airports {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  table thead {
    display: none;
  }

  table tr,
  table td {
    border-bottom: 1px solid #ddd;
  }

  table tr {
    margin-bottom: 8px;
  }

  table td {
    display: flex;
    justify-content: space-between;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}
</style>
