<template>
  <tr>
    <td rowspan="2">PRESS<br />ALT-FT</td>
    <td colspan="8">OAT-C°</td>
  </tr>
  <tr>
    <td>-30</td>
    <td>-20</td>
    <td>-10</td>
    <td>0</td>
    <td>10</td>
    <td>20</td>
    <td>30</td>
    <td>40</td>
  </tr>
</template>

<style scoped>
th,
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
</style>
