<script setup lang="ts">
import { Calculator } from '../exercises/Calculator'
import CalculatorTableStart from '../components/CalculatorTableStart.vue'

const calculator = new Calculator()
</script>

<template>
  <h3>LIMIT MANIFOLD PRESSURE - IN. HG</h3>
  <table>
    <tr>
      <th colspan="9">MAXIMUM CONTINUOUS POWER</th>
    </tr>

    <CalculatorTableStart />

    <tr v-for="(mapRow, rowIndex) in calculator.mapTableValues" :key="rowIndex">
      <td>{{ rowIndex === 0 ? 'SL' : rowIndex * 2000 }}</td>
      <td v-for="(mapVal, colIndex) in mapRow" :key="colIndex">
        {{ mapVal === 0 ? 'FT' : mapVal.toFixed(1) }}
      </td>
    </tr>
    <tr>
      <td colspan="9">FOR MAX TAKEOFF POWER (5 MIN), ADD 2.8 IN.</td>
    </tr>
  </table>

  <br />

  <h3>NEVER EXCEED SPEED - KIAS</h3>
  <table>
    <tr>
      <th colspan="9">2200 LB TOGW & BELOW</th>
    </tr>

    <CalculatorTableStart />

    <tr v-for="(airspeedRow, rowIndex) in calculator.airspeedTableValues" :key="rowIndex">
      <td>{{ rowIndex === 0 ? 'SL' : rowIndex * 2000 }}</td>
      <td v-for="(airspeedVal, colIndex) in airspeedRow" :key="colIndex">
        {{ airspeedVal === 0 ? 'NO' : airspeedVal }}
      </td>
    </tr>
    <tr>
      <td colspan="9" rowspan="2">
        OVER 2200 LB TOGW, SUBTRACT 10 KIAS<br />
        FOR AUTOROTATION, SUBTRACT 30 KIAS
      </td>
    </tr>
  </table>
</template>

<style scoped>
table,
th,
td {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
</style>
