<template>
  <div class="links">
    <h2>Useful Links</h2>
    <p>
      <a href="https://www.aviationweather.gov/" target="_blank">Aviation Weather</a>
    </p>
    <p>
      <a href="https://www.liveatc.net/search/?icao=kcdc" target="_blank">Live Communications </a>
      (w/ 10ish second delay)
    </p>
    <p>
      <a href="https://www.flightradar24.com/" target="_blank">Live Traffic</a>
    </p>
    <p>
      <a href="https://skyvector.com/" target="_blank"> VFR Charts & Planning </a>
    </p>
    <p>
      <a
        href="https://dronetribe.io/wp-content/uploads/2016/10/Legend-Airman-Knowledge-Testing-Supplement.pdf"
        target="_blank"
      >
        Chart Legend
      </a>
    </p>
    <p>
      <a
        href="https://www.flightaware.com/resources/airport/CDC/APD/AIRPORT+DIAGRAM/pdf"
        target="_blank"
      >
        KCDC Airport Map
      </a>
    </p>
    <p>
      <a
        href="https://explore.dot.gov/t/FAA/views/RotorcraftAccidentDashboard/FYBriefing?%3Aembed=y&%3AisGuestRedirectFromVizportal=y"
        target="_blank"
      >
        Accident Dashboard
      </a>
    </p>
    <p>
      <a
        href="https://www1.grc.nasa.gov/beginners-guide-to-aeronautics/learn-about-aerodynamics/"
        target="_blank"
      >
        Aerodynamics (NASA)
      </a>
    </p>
    <p>
      <a
        href="https://docs.google.com/spreadsheets/d/1G7gECkqejIY8mZJjMlkMTT-WGoh0V1jjh8czCm9iLdo/edit?usp=sharing"
        target="_blank"
      >
        SUU Weight & Balance
      </a>
      (Make a copy to use)
    </p>
    <p>
      <a href="https://loganbarnes.gitlab.io/systems/" target="_blank">
        Systems (Work in progress)
      </a>
    </p>
    <p>
      <a
        href="https://logan-barnes.notion.site/Helicopter-Ground-Lessons-10cb173d1f4f8015813fe45183270c65?pvs=4"
        target="_blank"
      >
        CFI Ground Lessons
      </a>
    </p>
  </div>
</template>

<style scoped>
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
  overflow-y: auto;
}
</style>
