<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <h1 class="title">Flight</h1>
    <div class="wrapper">
      <nav>
        <RouterLink to="/">About</RouterLink>
        <RouterLink to="/calculator">Calculator</RouterLink>
        <RouterLink to="/poh">POH</RouterLink>
        <RouterLink to="/acronyms">Acronyms</RouterLink>
        <RouterLink to="/definitions">Definitions</RouterLink>
        <RouterLink to="/air">Air</RouterLink>
        <RouterLink to="/test">Test</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView class="view" />

  <footer>An <a href="https://loganbarnes.gitlab.io/">LTB</a> project</footer>
</template>

<style scoped>
.view {
  flex: 1 1 auto;
}
header {
  line-height: 1.5;
  max-height: 100vh;

  margin: 0 auto;
  padding: 1.5rem;

  flex: 0 0 auto;
}

.title {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

footer {
  flex: 0 0 40px;
  text-align: center;
  background: var(--color-background);
}
</style>
